<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bachya.lpvm</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2AB6F640-A9BD-4355-8A48-EDF7D3AEDBC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>161DCAA7-B84D-4586-9070-969856A2DF93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F2091268-3C3F-4C46-9E90-5EE46010B9CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C9CEE6E-C660-4AF2-AC3F-59B403F1FBFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85AE1189-23E0-430C-B75F-FF12B7441A84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFF65CEF-53BF-4C50-8A7D-2E2257AD78B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A649226-EC07-4CF4-8BC3-33488206FEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4CE0A3-FC4A-41D2-9609-22CD6F5831D1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C1EC497-56C4-44D7-BE21-B059B4233A2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C9CEE6E-C660-4AF2-AC3F-59B403F1FBFA</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C1EC497-56C4-44D7-BE21-B059B4233A2B</key>
		<array/>
		<key>8A1CA7DC-7A5E-4B3C-BA1B-693E97B5D125</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D029591F-7038-456D-9605-48764DF5DA31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD4CE0A3-FC4A-41D2-9609-22CD6F5831D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E1D7FB6-A0D9-451F-8946-2F0C06E1AA2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85AE1189-23E0-430C-B75F-FF12B7441A84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D029591F-7038-456D-9605-48764DF5DA31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F678088-05F8-45D6-877F-49117999F415</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D9145DF0-637F-446C-9D2C-8E01E258830A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD4CE0A3-FC4A-41D2-9609-22CD6F5831D1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C1EC497-56C4-44D7-BE21-B059B4233A2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C9CEE6E-C660-4AF2-AC3F-59B403F1FBFA</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F24608FD-DD00-4B01-989A-5C2011AAB3B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9CC3250-450B-48DB-BEBB-1A551EA6D50A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F9CC3250-450B-48DB-BEBB-1A551EA6D50A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE7795C2-98DD-4C9F-9D33-0552A7BFC975</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Aaron Bach</string>
	<key>description</key>
	<string>A workflow to interact with a LastPass vault.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LastPass Vault Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py download-data</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9CC3250-450B-48DB-BEBB-1A551EA6D50A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LastPass Vault Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CE7795C2-98DD-4C9F-9D33-0552A7BFC975</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lpdd</string>
				<key>subtext</key>
				<string>Hit ENTER to download metadata for local access.</string>
				<key>text</key>
				<string>Download Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F24608FD-DD00-4B01-989A-5C2011AAB3B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py get-password "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CD4CE0A3-FC4A-41D2-9609-22CD6F5831D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9E1D7FB6-A0D9-451F-8946-2F0C06E1AA2B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>lpvs</string>
				<key>runningsubtext</key>
				<string>Searching vault...</string>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py search-vault "{query}"</string>
				<key>subtext</key>
				<string>Type a query to start searching your vault</string>
				<key>title</key>
				<string>Search Vault</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5A649226-EC07-4CF4-8BC3-33488206FEA3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Data copied to clipboard!</string>
				<key>title</key>
				<string>LastPass Vault Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>85AE1189-23E0-430C-B75F-FF12B7441A84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py open-url "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C1EC497-56C4-44D7-BE21-B059B4233A2B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py get-username "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C9CEE6E-C660-4AF2-AC3F-59B403F1FBFA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FFF65CEF-53BF-4C50-8A7D-2E2257AD78B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>lpbrowser</string>
				<key>runningsubtext</key>
				<string>Searching vault...</string>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py search-url</string>
				<key>subtext</key>
				<string>Hit ENTER to search the vault, using the URL of the default browser's active tab.</string>
				<key>title</key>
				<string>Search Current URL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D9145DF0-637F-446C-9D2C-8E01E258830A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>161DCAA7-B84D-4586-9070-969856A2DF93</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>lppg</string>
				<key>runningsubtext</key>
				<string>Generating passwords...</string>
				<key>script</key>
				<string>/usr/bin/env python lpvm.py generate-passwords</string>
				<key>subtext</key>
				<string>Hit ENTER to generate a number of randomized passwords.</string>
				<key>title</key>
				<string>Generate Passwords</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2AB6F640-A9BD-4355-8A48-EDF7D3AEDBC2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Password copied to clipboard!</string>
				<key>title</key>
				<string>LastPass Vault Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F2091268-3C3F-4C46-9E90-5EE46010B9CB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>lpsettings</string>
				<key>script</key>
				<string>/usr/bin/env python settings.py "{query}"</string>
				<key>subtext</key>
				<string>Modify settings and more.</string>
				<key>title</key>
				<string>LastPass Vault Manager Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8A1CA7DC-7A5E-4B3C-BA1B-693E97B5D125</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>116</integer>
				<key>script</key>
				<string>/usr/bin/env python settings.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D029591F-7038-456D-9605-48764DF5DA31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LastPass Vault Manager</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9F678088-05F8-45D6-877F-49117999F415</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/bachya/lp-vault-manager</string>
	<key>uidata</key>
	<dict>
		<key>161DCAA7-B84D-4586-9070-969856A2DF93</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>2AB6F640-A9BD-4355-8A48-EDF7D3AEDBC2</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>3C9CEE6E-C660-4AF2-AC3F-59B403F1FBFA</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>5A649226-EC07-4CF4-8BC3-33488206FEA3</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>7C1EC497-56C4-44D7-BE21-B059B4233A2B</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>85AE1189-23E0-430C-B75F-FF12B7441A84</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>8A1CA7DC-7A5E-4B3C-BA1B-693E97B5D125</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>9E1D7FB6-A0D9-451F-8946-2F0C06E1AA2B</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>9F678088-05F8-45D6-877F-49117999F415</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>CD4CE0A3-FC4A-41D2-9609-22CD6F5831D1</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>CE7795C2-98DD-4C9F-9D33-0552A7BFC975</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D029591F-7038-456D-9605-48764DF5DA31</key>
		<dict>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>D9145DF0-637F-446C-9D2C-8E01E258830A</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F2091268-3C3F-4C46-9E90-5EE46010B9CB</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>F24608FD-DD00-4B01-989A-5C2011AAB3B4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F9CC3250-450B-48DB-BEBB-1A551EA6D50A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FFF65CEF-53BF-4C50-8A7D-2E2257AD78B6</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.bachyaproductions.com</string>
</dict>
</plist>
